.container-form{
    background-color: #e9e9e973;
    width: 336px;
    border-radius: 5px;
    height: 340px;
    margin: 0px auto;
    margin-top: 40px;
}
.container-form img{
    width: 180px;
    margin: 0px auto;
    display: block;
}
form input{
    width: 250px;
    display: block;
    margin:0px auto;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #e3e3e3;
}
form small{
    margin: 0px auto;
    display: block;
    text-align: center;
}
 button{
    width: 100px;
    margin: 0px auto;
    display: block!important;
    text-align: center;
    background-color: #2371b8!important;
}
small{
    margin-top: 20px;
}
button{
    margin-top: 20px;
}